  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6 footer-links">
            <h4>Liens utiles</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="{{path('app_home')}}">Accueil</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{{path('app_a_propos')}}">A Propos</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{{path('app_categorie')}}">Gategories</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{{path('app_project')}}">Realisations</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{{path('app_contact')}}">Contact</a></li>
            </ul>
          </div>


          <div class="col-lg-4 col-md-6 footer-contact">
            <h4>NOUS CONTACTER  </h4>
            <p>
              70 Av. de la Division <br>
              Leclerc 93700 Drancy<br>
              France <br><br>
              <strong>Téléphone:</strong> +33 07.51.21.89.00<br>
              <strong>Email:</strong> info@example.com<br>
            </p>

          </div>

          <div class="col-lg-4 col-md-6 footer-info">
            <h3>À propos du H.M.S RENOV</h3>
            <p>H.M.S RENOV est une entreprise spécialisée tous corps d’état du bâtiment (démolition, maçonnerie, carrelage, plomberie, chauffage, électricité, menuiserie sur mesure, peinture, remplacement de fenêtres) qui saura vous accompagner dès notre 1ère rencontre jusqu’à la fin de votre projet.</p>
           
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>H.M.S RENOV</span></strong>. Tous les droits sont réservés
      </div>

    </div>
  </footer><!-- End Footer -->
