 {% extends 'base.html.twig' %}

{% block title %}Hello ProjectController!{% endblock %}

{% block body %}

    <main id="main">

        <!-- ======= Breadcrumbs ======= -->
        <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <ol>
            <li><a href="{{path('app_home')}}">Home</a></li>
            <li>Portfolio Details</li>
            </ol>
            <h2>Portfolio Details</h2>

        </div>
        </section><!-- End Breadcrumbs -->

        <!-- ======= Portfolio Details Section ======= -->
        <section id="portfolio-details" class="portfolio-details">
        <div class="container">

            <div class="row gy-4">

            <div class="col-lg-8">
                <div class="portfolio-details-slider swiper">
                <div class="swiper-wrapper align-items-center">

                    <div class="swiper-slide">
                    <img src="{{vich_uploader_asset(project ,'imageFile')}}" alt="">    
                    </div>
                    
                    <div class="swiper-slide">
                    <img src="{{vich_uploader_asset(project ,'imageFile2')}}" alt="">    
                    </div>
                    
                </div>
                <div class="swiper-pagination"></div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="portfolio-info">
                <h3>Project information</h3>
                <ul>
                    <li><strong>Titre</strong>: {{project.nom}}</li>
                    <li><strong>Categorie</strong>: ASU Company</li>
                    <li><strong>Date du Projet</strong>: {{project.dateRealisation|date('d/m/y')}} </li>
                </ul>
                </div>
                <div class="portfolio-description">
                <h2>This is an example of portfolio detail</h2>
                <p>  {{project.description}} </p>
                </div>
            </div>

            </div>

        </div>
        </section><!-- End Portfolio Details Section -->

         {% include "commentaire/form.html.twig" %}
         {% include "commentaire/commentaires.html.twig" %}
    </main><!-- End #main -->

  {% endblock %}
